<div style="margin-left: 350px;margin-right: 50px" *ngIf="isQuestionVisible">
  <div *ngFor="let answer of currentQuestion.answers" class="ui-g-6" style="margin-bottom: 75px">
    <button pButton [label]="answer.content" [ngClass]="{ 'ui-button-success' : selectedAnswer === answer, 'ui-button-primary' : selectedAnswer !== answer }"
            class="ui-button-rounded answer" style="position: center" (click)="selectAnswer(answer)"></button>
  </div>
</div>
