<div class="uniformFontFamily fullContentWithFooter">
  <div class="fullHeight ui-g-2" fxLayout="column" style="position:relative;margin-top: 30px;height: 100%">
    <app-menu-profile
      [character] = character
    ></app-menu-profile>
  </div>
  <div class="fullHeight ui-g-10" style="position:relative;margin-top: 30px;height: 100%;">
    <div style="height: 60%;border-radius: 3px;
  background: #cfcfcf;">
      <app-question *ngIf="exercise !== null && exerciseMark === null"
                    [questions]="exercise.questions"
                    (damage)="getDamageToSend($event)"
                    (exerciseMark)="setExerciseMark($event)"
                    [(character)] = character
      ></app-question>
      <div *ngIf="exercise !== null && exerciseMark !== null">
        <h3 style="text-align: center" id="exercise-end">
          Fin de l'exercice
        </h3>
        <h3 style="text-align: center" id="exercise-mark">
          NOTE : {{ getExerciseMark() }}/20
        </h3>
        <h3 style="text-align: center" *ngIf="monsterLife > 0" >
          Vous n'avez pas vaincu le monstre !
          <p style="text-align: center">points de vie restant :<br>{{monsterLife}} / {{exercise.life}}</p>
        </h3>
        <h3 style="text-align: center" *ngIf="monsterLife <= 0" id="monster-state">
          Vous avez vaincu le monstre !
        </h3>
      </div>
    </div>
    <br>
    <div class="fight-area" *ngIf="exercise !== null">
      <app-expedition-fight [exercise]="exercise"
                            [damage]="lastDamage"
                            [character]="character"
      ></app-expedition-fight>
    </div>
  </div>
</div>
<p-toast></p-toast>
