.fullContentWithFooter {
  position:absolute;
  top:30px;
  bottom:30px;
  left:0px;
  right:0px }

.fight-area {
  height: 38%;
  border-color: #7e7273;
  border-width: 2px;
  border-style: outset;
  background-image: url("src/assets/images/fond-combat.jpg");
  background-position: bottom;
}


