<div id="navbar-component">
  <p-toolbar class="menuLayout">
    <div class="p-grid p-dir-row p-align-center"  *ngIf="authService.isLoggedIn; else elseNavBar">
      <div class="ui-toolbar-group-left p-col-9 p-grid p-dir-row">
          <a class="accueilClass p-col-4 p-col-align-center" routerLink="/">Accueil</a>
          <div *ngIf="isCharacterSelected()"  id="buttons" class="header-buttons-margin p-col-5  p-grid p-dir-row">
            <button pButton icon="pi pi-list" label="Choix des personnages" type="button" class="charactersButton" routerLink="/characters"></button>
            <button pButton icon="pi pi-home" label="Expéditions" type="button" class="expeditionButton" routerLink="/expeditions"></button>
            <button pButton icon="pi pi-envelope" label="Tickets" type="button" class="messageButton" routerLink="/tickets"></button>
          </div>
      </div>
      <div class="ui-toolbar-group-right p-col-3 p-grid p-justify-end">
        <button *ngIf="isCharacterSelected()" pButton icon="pi pi-envelope" id="sendTicketBtn" type="button" class="buttonMargin p-col-1" (click)="showTicketDialog()"></button>

        <button pButton icon="pi pi-sign-out" type="button" class="ui-button-danger buttonMargin p-col-1" (click)="logout()"></button>
      </div>
    </div>
    <ng-template #elseNavBar>
      <div class="ui-toolbar-group-left p-col-9 p-grid p-dir-row">
        <a class="accueilClass p-col-4 p-col-align-center" routerLink="/home">Accueil</a>
      </div>

      <div class="ui-toolbar-group-right p-col-3 p-grid p-justify-end">
        <button pButton icon="pi pi-sign-in" id="login-btn" label="Connexion" type="button" class="buttonMargin p-col-align-center" (click)="login()">
        </button>
      </div>
    </ng-template>
  </p-toolbar>
</div>
<app-ticket-dialog *ngIf="isCharacterSelected()"
                   [display]="displayTicketDialog"
                   (closeDialog)="hideTicketDialog()">

</app-ticket-dialog>
