#navbar-component {
  z-index: 999;

  .fillspace {
    /* This fills the remaining space, by using flexbox.
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .menu-main-button {
    width: 100%;
  }

  .buttonMargin {
    margin-left: 5px;
    max-height: 35px;
  }

  ::ng-deep .charactersButton {
    border-color: #b789e5 !important;
    margin-right: 10px !important;
  }

  ::ng-deep .adventureButton {
    background: #b789e5 !important;
    border-color: #b789e5 !important;
    margin-right: 10px !important;
  }

  ::ng-deep .expeditionButton {
    background: #07C282 !important;
    border-color: #07C282 !important;
    margin: 0px !important;
  }

  ::ng-deep .messageButton {
    background: #0781c2 !important;
    border-color: #0781c2 !important;
    margin-left: 10px !important;
  }

  .header-buttons-margin {
  }

  ::ng-deep .menuLayout div {
    padding: 2px !important;
    margin: 0;
  }

  .accueilClass {
    color: #000;
    margin-left: 20px;
    font-size: 28px;
    padding: 0;
  }

  .ui-toolbar-group-left {
    margin-top: 0;
  }
}
