<p-dialog id="sendTicketDialog"  header="Envoyer un ticket" (onHide)="onCloseDialog()" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

  <form [formGroup]="ticketForm" (ngSubmit)="confirmTicket(ticketForm.value)">
    <h3>Objet</h3>
    <input type="text" formControlName="ticketTitle" class="p-col-9" pInputText>
    <h3>Message</h3>
    <textarea formControlName="ticketMessage" class="p-col-9" pInputTextarea></textarea>


    <div>
      <p-footer>
        <button type="submit" id="confirmTicketBtn" [disabled]="!ticketForm.valid" pButton icon="pi pi-check" label="Envoyer"></button>
        <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Annuler" class="ui-button-secondary"></button>
      </p-footer>
    </div>

  </form>
</p-dialog>


<p-dialog id="sendSucceeded" header="Ticket envoyé !" (onHide)="onCloseSucceed()" [(visible)]="sendSucceed" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

  <div>
    Votre ticket a bien été envoyé !
  </div>

</p-dialog>

<p-dialog header="Aïe ..." (onHide)="onCloseFailed()" [(visible)]="sendFailed" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

  <div>
    Votre ticket n'a pas pu être envoyé !
  </div>

</p-dialog>
