<p-table [value]="exercises" rowHover="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 5%">Nom</th>
      <th style="width: 5%">Description</th>
      <th style="width: 5%">Matière</th>
      <th style="width: 5%">Chapitre</th>
      <th style="width: 5%">Nombre de questions</th>
      <th style="width: 5%">Vie du monstre</th>
      <th style="width: 5%">Expérience</th>
      <th style="width: 5%">Etats du monstre</th>
      <th style="width: 5%">Note</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-exercise>
    <tr *ngIf="exercise.damageDone === null" class="ui-selectable-row" [routerLink]="['/exercise',expeditionId,exercise.id]" routerLinkActive="false">
      <td class="align-data">{{exercise.name}}</td>
      <td class="align-data"><button pButton [disabled]="!canDisplayDescription(exercise)" class="ui-button-primary" pTooltip="{{exercise.description}}" icon="pi pi-info"></button></td>
      <td class="align-data">{{exercise.discipline}}</td>
      <td class="align-data">{{exercise.chapter}}</td>
      <td class="align-data">{{exercise.questionNumber}}</td>
      <td class="align-data">{{exercise.life}}</td>
      <td class="align-data">{{exercise.experience}}</td>
      <td class="align-data">
        <div *ngIf="exercise.validated"><button pButton class="ui-button-success" label="Vaincu !"></button></div>
        <div *ngIf="!exercise.validated && exercise.damageDone !== null"><button pButton class="ui-button-danger" label="{{exercise.life - exercise.damageDone}}pv restants "></button></div>
        <div *ngIf="!exercise.validated && exercise.damageDone === null"><button pButton class="ui-button-warning" label="En attente"></button></div>
      </td>
      <td class="align-data">
        <div *ngIf="exercise.mark !== undefined">{{exercise.mark}} / 20</div>
        <div *ngIf="exercise.mark === undefined"> Aucune note </div>
      </td>
    </tr>
    <tr *ngIf="exercise.damageDone !== null" >

      <td class="align-data">{{exercise.name}}</td>
      <td class="align-data"><button pButton [disabled]="!canDisplayDescription(exercise)" class="ui-button-primary" pTooltip="{{exercise.description}}" icon="pi pi-info"></button></td>
      <td class="align-data">{{exercise.discipline}}</td>
      <td class="align-data">{{exercise.chapter}}</td>
      <td class="align-data">{{exercise.questionNumber}}</td>
      <td class="align-data">{{exercise.life}}</td>
      <td class="align-data">{{exercise.experience}}</td>
      <td class="align-data">
        <div *ngIf="exercise.validated"><button pButton class="ui-button-success" label="Vaincu !"></button></div>
        <div *ngIf="!exercise.validated && exercise.damageDone !== null"><button pButton class="ui-button-danger" label="{{exercise.life - exercise.damageDone}}pv restants "></button></div>
        <div *ngIf="!exercise.validated && exercise.damageDone === null"><button pButton class="ui-button-warning" label="En attente"></button></div>
      </td>
      <td class="align-data">
        <div *ngIf="exercise.mark !== undefined">{{exercise.mark}} / 20</div>
        <div *ngIf="exercise.mark === undefined"> Aucune note </div>
      </td>
    </tr>
  </ng-template>

</p-table>
