<div class="display-exercise">
  <span> {{ exercise.name }} ({{exercise.discipline}} / {{exercise.chapter}} )
    <i *ngIf="exercise.validated" class=" pi pi-check"></i>
  </span>
  <button pButton *ngIf="!exercise.validated" class="ui-button-rounded" icon="pi pi-pencil" [routerLink]="['/exercise',expeditionId,exercise.id]" routerLinkActive="false"></button>
</div>
