<div id="list-characters" class="space-header">
  <div class="container">
    <section class="p-grid p-align-center">
      <div class="p-col-fixed">
        <h2>Liste des personnages</h2>
      </div>
      <div class="p-col">
        <button pButton id="add-character" icon="pi pi-plus" type="button" label="Créer votre personnage"
                class="ui-button-primary"
                (click)="checkGuild()"></button>
      </div>
    </section>
    <section>
      <div *ngIf="characters.length == 0; else showCharacters">
        <article>
          Pas encore de personnage
        </article>
      </div>
      <ng-template #showCharacters>
        <p-table
          #dt
          [value]="characters"
          selectionMode="single"
          [(selection)]="selectedCharacter"
          (onRowSelect)="onRowSelect($event)"
          dataKey="id"
          styleClass="ui-table-characters"
          [rowHover]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]"
          [loading]="loading"
          [paginator]="true"
          [globalFilterFields]="['name', 'role.name', 'level', 'action_points', 'experience']"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">Nom
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="role.name">Rôle
                <p-sortIcon field="role.name"></p-sortIcon>
              </th>
              <th pSortableColumn="level">Niveau
                <p-sortIcon field="level"></p-sortIcon>
              </th>
              <th pSortableColumn="action_points">Points d'action
                <p-sortIcon field="action_points"></p-sortIcon>
              </th>
              <th pSortableColumn="experience">Expérience
                <p-sortIcon field="experience"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <th>
                <input pInputText
                       type="text"
                       (input)="dt.filter($event.target.value, 'name', 'contains')"
                       placeholder="Recherche par nom"
                       class="ui-column-filter"
                >
              </th>
              <th>
                <p-dropdown [options]="roles"
                            (onChange)="dt.filter($event.value, 'role.name', 'equals')"
                            class="ui-column-filter"
                            placeholder="Sélectionner le rôle"
                            [showClear]="true">
                  <ng-template let-option pTemplate="item">
                    <span [class]="'customer-badge role-' + option.value">{{option.label}}</span>
                  </ng-template>
                </p-dropdown>
              </th>
              <th>
              </th>
              <th>
              </th>
              <th>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-character>
            <tr class="ui-selectable-row" [pSelectableRow]="character">
              <td>
                <span class="ui-column-title">Nom</span>
                {{character.name}}
              </td>
              <td>
                <span class="ui-column-title">Role</span>
                <img [alt]="character.role.name"
                     src="{{rolePicturePath(character.role.name)}}"
                     width="32" style="vertical-align: middle">
                <span>{{character.role.name}}</span>
              </td>
              <td>
                <span class="ui-column-title">Niveau</span>
                {{character.level}}
              </td>
              <td>
                <span class="ui-column-title">Points d'actions</span>
                {{character.action_points}}
              </td>
              <td>
                <span class="ui-column-title">Expérience</span>
                {{character.experience}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8" style="text-align:left">Pas de personnages</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </section>
  </div>
</div>
