#list-characters {
  position: relative;
  height: 100%;
  h2, p {
    margin: 0;
    padding: 0;
  }

  section {
    margin: 10px 20px;
    padding: 10px;

    article {
      background-color: white;
      padding: 20px;
    }
  }
}
:host ::ng-deep .ui-table-characters {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

  .characters-badge {
    border-radius: 2px;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
  }


  .ui-multiselect-representative-option {
    display: inline-block;
    vertical-align: middle;

    img {
      vertical-align: middle;
      width: 24px;
    }

    span {
      margin-top: .125em;
      vertical-align: middle;
      margin-left: .5em
    }
  }

  .ui-paginator {
    .ui-dropdown {
      float: left;
    }

    .ui-paginator-current {
      float: right;
    }
  }

  .ui-progressbar {
    height: 8px;
    background-color: #D8DADC;

    .ui-progressbar-value {
      background-color: #00ACAD;
    }
  }

  .ui-column-filter {
    display: block;

    input {
      width: 100%;
    }
  }

  .ui-table-globalfilter-container {
    float: right;

    input {
      width: 200px;
    }
  }

  .ui-datepicker {
    min-width: 25em;

    td {
      font-weight: 400;
    }
  }

  .ui-table-caption {
    border: 0 none;
    padding: 12px;
    text-align: left;
    font-size: 20px;
  }


  .ui-table-thead > tr > th {
    border: 0 none;
    text-align: center;

    &.ui-filter-column {
      border-top: 1px solid #c8c8c8;
    }

    &:first-child, &:nth-child(2) {
      text-align: left;
    }
  }

  .ui-table-tbody > tr > td {
    border: 0 none;
    cursor: pointer;
    text-align: center;

    &:first-child, &:nth-child(2) {
      text-align: left;
    }
  }

  .ui-table-tbody > tr > td .ui-column-title {
    display: none;
  }
}

/* Responsive */
@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-table {
    &.ui-table-characters {
      .ui-table-thead > tr > th,
      .ui-table-tfoot > tr > td {
        display: none !important;
      }

      .ui-table-tbody > tr > td {
        text-align: left;
        display: block;
        width: 100% !important;
        float: left;
        clear: left;
        border: 0 none;

        .ui-column-title {
          padding: .4em;
          min-width: 30%;
          display: inline-block;
          margin: -.4em 1em -.4em -.4em;
          font-weight: bold;
        }
      }
    }
  }
}
