<div class="uniformFontFamily fullContentWithFooter">
  <div class="fullHeight ui-g-2" fxLayout="column" style="position:relative;margin-top: 30px;height: 100%">
    <app-menu-profile
      [character] = character
    ></app-menu-profile>
  </div>
  <div class="fullHeight ui-g-10" style="position:relative;margin-top: 30px;height: 100%">
    <app-statistics-interface></app-statistics-interface>
  </div>

</div>
