<div id="subscribe-form-component" class="space-header">
  <div class="container">
    <section class="p-grid p-dir-col">
      <h2 class="p-col p-col-align-center">{{formTitle}}</h2>
      <form class="p-col p-col-align-center" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="p-grid p-dir-col">
          <div *ngIf="isSubscribeForm"
               class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="firstname">Prénom :</label>
            <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="text" id="firstname" pInputText
                   formControlName="firstname"/>
          </div>

          <div *ngIf="isSubscribeForm"
               class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="lastname">Nom :</label>
            <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="text" id="lastname" pInputText
                   formControlName="lastname"/>
          </div>

          <div class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="email">Email :</label>
            <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="text" id="email" pInputText formControlName="email"/>
          </div>

          <div class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="password">Mot de passe :</label>
            <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="password" id="password" pInputText
                   formControlName="password"/>
          </div>

          <div class="p-col-9 p-sm-10 p-md-7 p-xl-5 p-col-align-center error-messages" *ngIf="checkErrors">
            <app-form-errors-display [errors]="errors" [showErrors]="showErrors"></app-form-errors-display>
          </div>

          <div class="p-col-4 p-sm-3 p-md-2 p-lg-2 p-xl-1 p-col-align-center">
            <button class="ui-button-info" id="submit-btn" pButton type="submit" label="{{buttonLabel}}"></button>
          </div>

        </div>
      </form>

      <app-response-dialog
        [displayModal]="displayModal"
        [isSuccess]="isSuccess"
        [successNext]="'/'"
        [statusCode]="statusCode"
        [failNext]="failNext"
        [customErrors]="customErrors"
        [successDescription]="'Bravo ! Votre compte a été créé avec succès. Vous pouvez maintenant vous connecter'"
      ></app-response-dialog>

    </section>
  </div>
</div>
