<div class="uniformFontFamily fullContentWithFooter">
  <div class="fullHeight ui-g-2" fxLayout="column" style="position:relative;margin-top: 30px;height: 100%">
    <app-menu-profile
      [character] = character
    ></app-menu-profile>
  </div>
  <div class="fullHeight ui-g-8" style="position:relative;margin-top: 30px;height: 100%">
    <h2>Expéditions disponibles :</h2>
    <app-latest-expeditions></app-latest-expeditions>
  </div>

</div>

