<p-table [value]="availableExpeditions" [rowHover]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 20%">Titre</th>
      <th style="width: 15%">Matières</th>
      <th style="width: 7%">Description</th>
      <th style="width: 12%">Date limite</th>
      <th style="width: 7%">Nombre d'exercises</th>
      <th style="width: 15%">Expérience Bonus</th>
      <th style="width: 7%">Exploré</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-expeditionData>
    <tr class="ui-selectable-row" [routerLink]="['/expedition',expeditionData.id,expeditionData.title]" routerLinkActive="false" >
      <td class="align-data" style="width: 15%">{{expeditionData.title}}</td>
      <td class="align-data" style="width: 15%">{{getExpeditionDisciplines(expeditionData)}}</td>
      <td class="align-data" style="width: 15%">
        <button pButton [disabled]="!canDisplayDescription(expeditionData)" class="ui-button-primary" pTooltip="{{expeditionData.description}}" icon="pi pi-info"></button>

      </td>
      <td class="align-data" style="width: 15%">{{getExpeditionDate(expeditionData)}}</td>
      <td class="align-data" style="width: 15%">{{expeditionData.exercisesNumber}}</td>
      <td class="align-data" style="width: 15%">{{expeditionData.experienceBonus}}</td>
      <td class="align-data" style="width: 15%">
        <button pButton *ngIf="expeditionData.done" class="ui-button-success" icon="pi pi-thumbs-up"></button>
        <button pButton *ngIf="!expeditionData.done" class="ui-button-danger" icon="pi pi-thumbs-down"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
