.spell-zone {
  padding: 2px;
  border-width: 2px;
  border-radius: 3px;
  background-color: #07C282;
  border-style: inset;
  border-color: black;
  margin-left: 25px;
}

.question-zone {
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
}
