<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div  *ngIf="index < questions.length">
  <div class="p-grid">
    <div class="p-col-2"></div>
    <div class="p-col-8">
      <p-progressBar [value]="barValueRemaining" [showValue]="false"></p-progressBar>
    </div>
    <div class="p-col-2"></div>
  </div>
  <p style="text-align: center"> {{timeValueRemaining}}</p>
  <br>
  <div class="question-zone" style="height: 100%">
    <h3 style="text-align: center" *ngIf="isQuestionVisible" id="question" >{{currentQuestion.wording}}</h3>
    <div class="p-grid">
      <div class="p-col-2">
        <div class="p-grid">
          <div class="p-col-4"></div>
          <div class="p-col">
            <button *ngIf="isQuestionVisible" pButton label="Activer le sort" [disabled]="spellDisabled()" class="ui-button-rounded ui-button-success" (click)="castSpell()"></button>
          </div>
        </div>

        <div *ngIf="thiefAdviceActived" class="spell-zone">{{thiefAdviceContent}}</div>

      </div>
      <div class="p-col-8">
      <app-qcm-question *ngIf="currentQuestion.questionType['name'] === 'qcm'"
                        [currentQuestion]="currentQuestion"
                        [isQuestionVisible]="isQuestionVisible"
                        [(selectedAnswer)]="selectedAnswer"
                        (onValidQuestion)="validQuestion()"
      ></app-qcm-question>
      <app-input-question *ngIf="currentQuestion.questionType['name'] === 'input'"
                          [currentQuestion]="currentQuestion"
                          [isQuestionVisible]="isQuestionVisible"
                          [(selectedAnswer)]="selectedAnswer"
                          (onValidQuestion)="validQuestion()"
      ></app-input-question>
      </div>

    </div>
    <div class="p-grid">
      <div class="p-col-10"></div>
      <div class="p-col-2">
        <button *ngIf="isQuestionVisible" pButton id="btn-validate" label="Valider" [disabled]="!(selectedAnswer !== null)" class="ui-button-rounded ui-button-success" style="float: left" (click)="validQuestion()"></button>
      </div>
    </div>
  </div>

  <div *ngIf="!isQuestionVisible && exerciseMark !== null">
    <div style="position: center;text-align: center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</div>

