#home-component {
  position: relative;
  color: blue;
  height: 100%;

  h2, h3, p {
    margin: 0;
    padding: 0;
  }

  .home-presentation {
    margin: 10px 20px 10px;
    background-color: #ffffff;
    min-height: 270px;
    padding: 10px 20px;

    img {
      max-width: 270px;
    }

    .description {
      h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 60px;
        font-family: Sensei, "Open Sans", serif;
      }

      h3 {
        font-size: 25px;
        margin-bottom: 15px;
        font-family: "Open Sans", sans-serif;
      }

      p {
        font-size: 20px;
      }
    }
  }

  .home-roles {
    margin: 10px;

    article {
      height: 100%;
      padding: 0;
    }

    .header {
      max-height: 100px;
    }

    .student, .teacher {
      height: 100%;
    }

    .start-subscribe {
      margin: 10px;
      background-color: #ffffff;
      padding: 10px;

      button {
        font-size: 20px;
      }
    }

    img {
      max-width: 100px;
    }

    .header {
      h3 {
        font-size: 25px;
      }
    }

    .description {
      padding: 30px 20px;
      font-size: 20px;
      text-align: justify;
      min-height: 130px;
    }

    .footer {
      margin: 30px;
    }
  }
}
