<div id="home-component" class="space-header">
  <div class="container">
    <section class="home-presentation">
      <p-card [style]="{height: '100%', display: 'flex', alignItems: 'center', boxShadow: 'none'}">
        <div class="p-grid p-align-center">
          <div class="logo-container p-grid p-justify-center p-col-12 p-sm-12 p-md-4">
            <img class="p-col" src="assets/images/logo.png" alt="logo">
          </div>
          <div class="description p-col-12 p-sm-12 p-md-8">
            <div class="p-grid p-dir-col p-justify-between">
              <h2 class="p-col">Les Aventuriers de l'Ecole</h2>
              <h3 class="p-col">Partons ensemble à notre aventure scolaire !</h3>
              <p class="p-col">Les aventuriers de l'école est une solution pour rendre l'éducation ludique.
                Nos outils permettent la gamification de l'enseignement pour nos professeurs et nos élèves.</p>
            </div>
          </div>
        </div>
      </p-card>
    </section>
    <section class="home-roles p-grid p-justify-between">
      <article class="p-col-12 p-sm-12 p-md-12 p-lg-6">
        <div class="start-subscribe">
          <p-card [style]="{height: '100%', boxShadow: 'none'}">
            <div class="p-grid p-justify-even header">
              <img class="p-col-2" src="assets/images/student-hat-icon.png" alt="logo">
              <h3 class="p-col-* p-grid p-align-center">Si vous êtes un élève</h3>
              <img class="p-col-2" src="assets/images/compass-icon.png" alt="logo">
            </div>
            <div class="description">
              Devenez un aventurier en choisissant votre caractère.
              Différentes péripéties conçus par vos professeurs vous attendent !
            </div>
            <div class="footer p-grid p-justify-center">
              <button id="subscribe-btn" pButton type="button" routerLink="/subscribe"
                      label="Commencer votre aventure"></button>
            </div>
          </p-card>
        </div>
      </article>
      <article class="p-col-12 p-sm-12 p-md-12 p-lg-6">
        <div class="start-subscribe">
          <p-card [style]="{height: '100%', boxShadow: 'none'}">
            <div class="p-grid p-justify-even header">
              <img class="p-col-2" src="assets/images/teacher-icon.png" alt="logo">
              <h3 class="p-col-* p-grid p-align-center">Si vous êtes enseignant</h3>
              <img class="p-col-2" src="assets/images/hammer-icon.png" alt="logo">
            </div>
            <div class="description">
              Proposez à vos jeunes apprentis des donjons et exercises monstrueux à vaincre.
              Devenez le leader de leurs épopées !
            </div>
            <div class="footer p-grid p-justify-center">
              <button pButton type="button" label="Télécharger l'application pour concevoir vos donjons"
                      class="ui-button-secondary"
                      onclick="window.location.href='https://school-adventurers.s3-eu-west-1.amazonaws.com/School_Adventurers.zip'"></button>
            </div>
          </p-card>
        </div>
      </article>
    </section>
  </div>
</div>
