#app-component {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;

  .uniformFontFamily { font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif; }

  .header-menu {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    right: 0;
  }

  .fullContentWithFooter {
    position:absolute;
    top:30px;
    bottom:30px;
    left:0px;
    right:0px
  }

}
