<div class="uniformFontFamily fullContentWithFooter">
    <div class="fullHeight ui-g-2" fxLayout="column" style="position:relative;margin-top: 30px;height: 100%">
        <app-menu-profile
          [character]="character"
        ></app-menu-profile>
    </div>
    <div id="mainDivMessageView" class="fullHeight ui-g-10" style="position:relative;margin-top: 30px;height: 100%">
        <p-table #dt [value]="messages" dataKey="id" styleClass="ui-table-messages" [rowHover]="true"
                 [rows]="12" [showCurrentPageReport]="true"
                 [filterDelay]="0" [responsive]="true">
            <ng-template pTemplate="caption">
                Messages
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <button id="sendNewMsgBtn" pButton icon="pi pi-pencil" type="button" class="newMsgBtn" (click)="showMessageDialog()" iconPos="left" label="Nouveau message"></button>
                    </th>
                </tr>
                <tr>
                    <th pSortableColumn="state">Envoyé / Reçu</th>
                    <th pSortableColumn="content">Contenu</th>
                    <th pSortableColumn="sentDate">Date <p-sortIcon id="filterBySentDate" field="sentDate"></p-sortIcon></th>
                </tr>
                <tr>
                    <th>
                        <p-dropdown class="messageStatusesDropdown" [options]="displayStatuses" (onChange)="dt.filter($event.value, 'state.value', 'equals')" styleClass="ui-column-filter" placeholder="Filtrer" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span [class]="'message-badge status-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-message>
                <tr class="ui-selectable-row">
                    <td>
                        <span class="ui-column-title">Envoyé / Reçu</span>
                        <span id="messageStatusSpan" [class]="'message-badge status-' + message.state.value">{{message.state.label}}</span>
                    </td>
                    <td>
                        <span class="ui-column-title"></span>
                        {{message.content}}
                    </td>
                    <td>
                        <span class="ui-column-title">Date</span>
                        {{message.sentDate | date:"dd/MM/yyyy HH:mm"}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align:left">Aucun message</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-message-dialog [ticketId]="getTicketId()"
                    [display]="displayMessageDialog"
                    (closeDialog)="hideMessageDialog()">

</app-message-dialog>
