<h3 >Statistiques du personnage</h3>

<p-tabView>
  <p-tabPanel header="Donuts">
    <div class="p-grid p-dir-row p-align-center options-container">
      <div class="ui-toolbar-group-left p-col-6 p-grid p-dir-row">
        <div class="soft-margin-left">
          <label>Matière :</label>
          <p-dropdown  [options]="disciplines" [(ngModel)]="selectedDiscipline" placeholder="Toutes les matières" optionLabel="title" [showClear]="true" (onChange)="onDisciplineChange()"></p-dropdown>
        </div>
        <div class="soft-margin-left" *ngIf="displayChapterDropdown()">
          <label>Chapitre :</label>
          <p-dropdown [options]="chapters" [(ngModel)]="selectedChapter" placeholder="Tous les chapitres" optionLabel="title" [showClear]="true" (onChange)="onChapterChange()"></p-dropdown>

        </div>
      </div>
      <div class="ui-toolbar-group-right p-col-6 p-grid p-justify-end">
        <button pButton [label]="getLabelState()" [ngClass]="{ 'ui-button-success' : dateEnable == true, 'ui-button-primary' : dateEnable == false }" (click)="changeDateStatut()"></button>
        <div class="soft-margin-left">
          <label>Début :</label>
          <p-calendar [disabled]="!dateEnable" [(ngModel)]="beginDate" (onSelect)="onChangeDate()" [locale]="fr" dateFormat="dd/mm/yy"></p-calendar>
        </div>
        <div class="soft-margin-left">
          <label>Fin :</label>
          <p-calendar [disabled]="!dateEnable" [(ngModel)]="endDate" (onSelect)="onChangeDate()" [locale]="fr" dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>
    </div>
    <div *ngIf="statsLength  > 0" class="p-grid p-dir-row p-align-center">
      <div class="p-col-2 p-grid p-dir-row">

      </div>
      <div class="p-col-4 p-grid p-dir-row">
        <p-chart #monsterChart type="doughnut" [data]="monsterData" [options]="monsterOptions" width="400" height="400"></p-chart>
      </div>
      <div class="p-col-4 p-grid p-dir-row">
        <p-chart #exerciseChart type="doughnut" [data]="exerciseData" [options]="exerciseOptions" width="400" height="400"></p-chart>
      </div>
      <div class="p-col-2 p-grid p-dir-row">
      </div>
    </div>
    <div *ngIf="statsLength  == 0" class="p-grid p-dir-row p-align-center">
      <div class="p-col-3 p-grid p-dir-row"></div>
      <h2 class="p-col-6 p-grid p-dir-row">Vous n'avez pas réalisé des exercices correspondant au filtre</h2>
      <div class="p-col-3 p-grid p-dir-row"></div>
    </div>
  </p-tabPanel>
</p-tabView>

