.soft-margin-left {
  margin-left: 15px;
}

.options-container {
  padding-top: 12px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin-left: -16px;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  //border-top-width: 2px;
  border-color: black;

}
