<div id="response-dialog">
  <p-dialog [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000" [showHeader]="false"
            [draggable]="false" [resizable]="false">
    <div class="p-grid p-dir-col" >
      <div *ngIf="!isSuccess" class="p-grid p-dir-col">
        <i  class="p-col-align-center pi pi-times" style="font-size: 5em; color: red;"></i>
<!--        <h3 class="p-col-align-center">Erreur {{statusCode}}</h3>-->
        <p>{{errorMessage}}</p>
      </div>
      <div *ngIf="isSuccess" class="p-grid p-dir-col">
        <i class="p-col-align-center pi pi-check" style="font-size: 5em; color: forestgreen;"></i>
        <p>{{successDescription}}</p>
      </div>
      <button class="p-col-align-end" type="button" pButton (click)="action()" label="Ok"></button>
    </div>
  </p-dialog>
</div>
