<div class="uniformFontFamily fullContentWithFooter">
    <div class="fullHeight ui-g-2" fxLayout="column" style="position:relative;margin-top: 30px;height: 100%">
        <app-menu-profile
          [character]="character"
        ></app-menu-profile>
    </div>
    <div id="mainDivTicketView" *ngIf="displayStatusesLoaded === true" class="fullHeight ui-g-10" style="position:relative;margin-top: 30px;height: 100%">
        <p-table #dt [value]="tickets" dataKey="id" styleClass="ui-table-tickets" [rowHover]="true"
                 [rows]="12" [showCurrentPageReport]="true"
                 [filterDelay]="0" [responsive]="true">
            <ng-template pTemplate="caption">
                Mes tickets
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="title">Titre <p-sortIcon id="filterByTitle" field="title"></p-sortIcon></th>
                    <th pSortableColumn="displayStatus">Statut <p-sortIcon field="displayStatus"></p-sortIcon></th>
                    <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
                </tr>
                <tr>
                    <th>
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')" placeholder="Rechercher" class="ui-column-filter">
                    </th>
                    <th>
                        <p-dropdown class="dropdownStatus" [options]="displayStatuses" (onChange)="dt.filter($event.value, 'displayStatus.value', 'equals')" styleClass="ui-column-filter" placeholder="Choisir un statut" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span [class]="'ticket-badge status-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </th>
                    <th>
                        <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="ui-column-filter" placeholder="Date de création" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
                <tr class="ui-selectable-row" (click)="onSelectTicket(ticket.id)">
                    <td id="tdTitle">
                        <span class="ui-column-title">Titre</span>
                        {{ticket.title}}
                    </td>
                    <td>
                        <span class="ui-column-title">Statut</span>
                        <span id="spanTicketStatus" [class]="'ticket-badge status-' + ticket.displayStatus.value">{{ticket.displayStatus.label}}</span>
                    </td>
                    <td>
                        <span class="ui-column-title">Date</span>
                        {{ticket.date | date:"dd/MM/yyyy"}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align:left">Aucun ticket correspondant</td>
                </tr>
            </ng-template>
        </p-table>
    </div>



</div>
