<div class="uniformFontFamily fullContentWithFooter">
  <div class="fullHeight ui-g-2" fxLayout="column" style="position:relative;margin-top: 30px;height: 100%">
    <app-menu-profile
      [character] = character
    ></app-menu-profile>
  </div>
  <div class="fullHeight ui-g-8" style="position:relative;margin-top: 30px;height: 100%">
    <h2> {{ expedition }} </h2>
    <app-list-exercices
      [exercises] = exercices
      [expeditionId] = expeditionId
    ></app-list-exercices>
  </div>



</div>
