<div id="form-character-component" class="space-header">
  <div class="container">
    <section class="p-grid p-dir-col">
      <h2 class="p-col p-col-align-center">Création de votre personnage</h2>
      <form class="p-col p-col-align-center" [formGroup]="characterForm" (ngSubmit)="onSubmit()">
        <div class="p-grid p-dir-col">
          <div
            class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="name">Nom :</label>
            <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="text" id="name" pInputText
                   formControlName="name"/>
            <div class="error-div">
              <div *ngIf="nameControl.touched && nameControl.hasError('required')">Le nom du personnage est requis</div>
            </div>
          </div>
          <div
            class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="role">Role :</label>
            <select id="role" formControlName="role">
              <option *ngFor="let role of roles" [ngValue]="role">{{translateRoles[role.name]}}</option>
            </select>
          </div>
          <div
            *ngIf="selectedRole !== undefined"
            class="p-col-8 p-sm-8 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form"
          >
            <img class="p-col-2 role-picture" src="{{this.rolePicturePath}}" alt="role-picture">
            <div class="p-col-8 role-container">
              <div>Pouvoir du <span class="role-name">{{ selectedRole.name }}</span> :</div>
              <div class="role-description">{{ selectedRole.guild_bonus }}</div>
            </div>
          </div>
          <div class="p-col-4 p-sm-3 p-md-2 p-lg-2 p-xl-1 p-col-align-center">
            <button id="create-button" class="ui-button-info" [disabled]="!characterForm.valid" pButton type="submit"
                    label="Créer"></button>
          </div>
          <app-response-dialog
            [displayModal]="displayModal"
            [isSuccess]="isSuccess"
            [successNext]="'/'"
            [statusCode]="statusCode"
            [failNext]="failNext"
            [customErrors]="customErrors"
            [successDescription]="'Bravo ! Vous avez réussi à créer votre personnage !'"
          ></app-response-dialog>
        </div>
      </form>
    </section>
  </div>
</div>
