<div class="fullHeight ui-g-2"></div>
<div class="fullHeight ui-g-3">
  <div>
    <div style="background: grey;width: 100%;text-align: center">{{ character.pseudo }}</div>
    <div >
      <canvas #animatedCharacter width="300" height="200"></canvas>
    </div>
  </div>
</div>
<div class="fullHeight ui-g-2"></div>
<div class="fullHeight ui-g-3">
  <div>
    <div style="background: grey;width: 100%;text-align: center">{{animatedMonster.name}} </div>
    <p-progressBar [value]="getCurrentLife()" [showValue]="false" class="monster-life-bar"></p-progressBar>
    <div class="boss">
      <canvas #animatedMonsterCanvas width="300" height="200"></canvas>
    </div>
  </div>
</div>
<div class="fullHeight ui-g-2"></div>
