::ng-deep .monster-life-bar .ui-progressbar .ui-progressbar-value{
  background: red !important;
}

::ng-deep .monster-life-bar .ui-progressbar{
  height: 15px;
}
.boss {
  background: url("src/assets/images/teacher-icon.png");
  height: 120px;
  width: 75px;

}
