<div class="display-expedition">
  <span> {{ expedition.title }} ( mettre les matieres ) - {{expedition.deadline}}</span>
  <button pButton class="ui-button-rounded" icon="pi pi-pencil" [routerLink]="['/expedition',expedition.id]" routerLinkActive="false" style="margin-left: 10px"></button>
</div>
