<p-dialog id="dialogSendNewMsg" header="Envoyer un message" (onHide)="onCloseDialog()" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

    <form [formGroup]="messageForm" (ngSubmit)="confirmMessage(messageForm.value)">
        <h3>Message</h3>
        <textarea formControlName="messageContent" class="p-col-9" pInputTextarea></textarea>

        <div>
            <p-footer>
                <button id="sendMsgBtn" type="submit" [disabled]="!messageForm.valid" pButton icon="pi pi-check" label="Envoyer"></button>
                <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Annuler" class="ui-button-secondary"></button>
            </p-footer>
        </div>

    </form>
</p-dialog>


<p-dialog id="sendMsgSucceeded" header="Message envoyé !" (onHide)="onCloseSucceed()" [(visible)]="sendSucceed" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

    <div>
        Votre message a bien été envoyé !
    </div>

</p-dialog>

<p-dialog header="Aïe ..." (onHide)="onCloseFailed()" [(visible)]="sendFailed" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">

    <div>
        Votre message n'a pas pu être envoyé !
    </div>

</p-dialog>
