<div style="margin-left: 350px;margin-right: 50px" *ngIf="isQuestionVisible">
  <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="input-user">Réponse :</label>
  <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="text" id="input-user"  [(ngModel)]="inputUser" (ngModelChange)="findMatchingAnswer()"/>
</div>

