/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  height: 100%;
  background-color: #f9f9f9;
  font-family: Sensei, "Open Sans", serif;
}

.space-header {
  padding-top: 50px;
}

.container {
  margin: 20px 30px;
  border: #7e7273;
}
