<div class="menu-profile-limitation" *ngIf="character !== null && character !== undefined">
  <div class="profil-container">
    <div class="profil-image">
      <img src="{{rolePicturePath}}" alt="role-picture" alt="role-picture" style="width: 85px; height: 85px">
    </div>
    <div class="profil-informations">
      <div class="profil-information">{{character.last_name}} {{character.first_name}}</div>
      <div class="profil-information">{{character.pseudo}}</div>
      <div class="profil-information">{{character.guild_name}}</div>
    </div>
  </div>
  <div class="role-informations">
    <h3 >{{character.role}} niveau {{character.level}}</h3>
    <div style="margin-right: 15px;margin-top: 8px;">
      <p-progressBar [value]="getCharacterExperience()"></p-progressBar>
      <div class="experience"> {{character.experience}}/ {{max_experience}} XP</div>
    </div>
    <h3>Mana restant : {{character.action_points}}</h3>
  </div>
  <div class="separator"></div>
  <div class="role-informations">
    <div class="bonus-information">
      <h3>sort de classe : </h3>
      <div> - {{character.guild_bonus}} ( coût {{character.guild_bonus_cost}} )</div>
    </div>

  </div>
  <div class="footer-informations">
    <button pButton icon="pi pi-chart-line" label="Statistiques" type="button" [routerLink]="['/statistics']" routerLinkActive="false" class="statistiqueButton" ></button>
  </div>
</div>
