.profil-container {
  width: 100%;
  padding-top: 45px;
  margin-left: 20px;
}

.profil-image {
  float: left;

  width: 95px;
  height: 95px;
  border-color: #181016;
  border-width: 3px;
  background-color: #d3c2c4;
  border-style: solid;
  margin-right: 8px;
}
.profil-informations {
  display: inline-block;
  width: 46%;
  height: 95px;
}

.profil-information {
  display: block;
  margin-top: 8px;
}

.role-informations {
  margin-top: 20px;
  margin-left: 20px;
}

.bonus-information {
  margin-top: 8px;
}

.experience {
  margin-top: 2px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.separator {
  width: 100%;
  margin-left: -5px;
  border-style: outset;
  border-color: grey;
  border-width: 3px;
}

.menu-profile-limitation {
  border-right-color: grey;
  height: 100%;
  border-right-style: ridge;
  border-width: 3px;
}

.footer-informations {
  position: fixed;
  bottom: 20px;
}
::ng-deep .parametersButton {
  background: #7e7273 !important;
  border-color: #7e7273 !important;
  margin-left: 10px !important;
}

::ng-deep .statistiqueButton {
  background: #e5a84c !important;
  border-color: #e5a84c !important;
  margin-left: 10px !important;
}
