#checking-guild-component {
  position: relative;
  height: 100%;

  h2, p {
    margin: 0;
    padding: 0;
  }

  section {
    background-color: #fff;
    margin: 10px 20px;
    padding: 30px;

    h2 {
      font-size: 40px;
    }

    form {
      width: 100%;
      font-size: 20px;
      padding-top: 15px;

      .property-form {
        margin: 5px;

      }

      .error-div {
        font-size: 15px;
        color: red;
      }

      .error-messages {
        background-color: lightpink;
        color: red;
      }

      button {
        font-size: 15px;
        min-height: 45px;
        width: 100%;
      }
    }
  }
}
