<div id="checking-guild-component" class="space-header">
  <div class="container">
    <section class="p-grid p-dir-col">
      <h2 class="p-col p-col-align-center">Avant la création de votre personnage</h2>
      <div class="p-col p-col-align-center p-grid p-dir-col">
        <p class="p-col-align-center">L'avanture scolaire n'est jamais en solitaire (ou rarement).</p>
        <p class="p-col-align-center">Avant la création de votre personnage, une confirmation de votre leader est nécessaire.</p>
        <p class="p-col-align-center">Les nom et jeton de la guilde feront l'affaire, pour que démarre votre épopée exemplaire.</p>
      </div>
      <form class="p-col p-col-align-center" [formGroup]="checkingGuildForm" (ngSubmit)="onCheckGuild()">
        <div class="p-grid p-dir-col">
          <div
               class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="guild-name">Nom de la guilde :</label>
            <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="text" id="guild-name" pInputText
                   formControlName="guildName"/>
            <div class="error-div">
              <div *ngIf="guildName.touched && guildName.hasError('required')">Le nom de la guilde est requis</div>
            </div>
          </div>
          <div
            class="p-col-8 p-sm-10 p-md-7 p-lg-7 p-xl-5 p-col-align-center p-grid p-dir-row property-form">
            <label class="p-col-12 p-sm-12 p-md-12 p-lg-6" for="guild-token">Jeton de la guilde :</label>
            <input class="p-col-12 p-sm-12 p-md-12 p-lg-6" type="text" id="guild-token" pInputText
                   formControlName="guildToken"/>
            <div class="error-div">
              <div *ngIf="guildToken.touched && guildToken.hasError('required')">Le jeton de la guilde est requis</div>
            </div>
          </div>
          <div class="p-col-4 p-sm-3 p-md-2 p-lg-2 p-xl-1 p-col-align-center">
            <button id="check-guild-button" class="ui-button-info" [disabled]="!checkingGuildForm.valid" pButton type="submit" label="Vérifier"></button>
          </div>
          <div class="p-col-9 p-sm-10 p-md-7 p-xl-5 p-col-align-center error-messages" *ngIf="errors.length > 0">
            <app-form-errors-display [errors]="errors" [showErrors]="true"></app-form-errors-display>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
